{% extends "../base.html"%}

{% block body %}
<body>
{% endblock %}

{% load static %}

{%block content%}
  <div class="container user" id='map-check' stat='tutor'>
    <h4 class="akads-dark-blue-text">Start Session</h4>
    <form method="POST">
    {% csrf_token %}
      <!--Create backend for the rating system if needed. Use and style radio buttons for star rating-->
      <div id="modal2" class="modal end-sesh">
        <div class="modal-content container">
          <!--<img class="logo" src="{% static 'users/img/akads-nav-logo.png' %}">-->
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-small akads-light-blue akads-dark-blue-text">Close</a>
          <a href="{{individual_session.session.id}}/end-session" class="modal-close waves-effect waves-green btn-small akads-blue">End Session</a>
        </div>
      </div>
      <div class="card-panel upcoming">
        <div class="center-align">
          <i class="medium material-icons akads-mid-blue-text">account_circle</i>
          <h5 class="akads-dark-blue-text"><strong>Tutor:</strong> {{session.tutor.first_name}} {{session.tutor.last_name}}</h5>
        </div>
        <br>
        <div class="row">
          <div class="col s12">
            <div align="center">
              <label>End Time</label>
              <input type="text" name="start_time" class="timepicker" >
            </div>
            <br>
            <p class="akads-mid-blue-text">Rate your experience with your tutor! For comments and compliments, <br> please write to us below.</p>
            <div>
              <form action="#">
                <span id="star-cb-group">
                  <label>
                    <input name="group1" type="radio" checked />
                    <span>1</span>
                  </label>
                  <label>
                    <input name="group1" type="radio" />
                    <span>2</span>
                  </label>
                  <label>
                    <input name="group1" type="radio" />
                    <span>3</span>
                  </label>
                  <label>
                    <input name="group1" type="radio" />
                    <span>4</span>
                  </label>
                  <label>
                    <input name="group1" type="radio" />
                    <span>5</span>
                  </label>
                </span>
              </form>
            </div>

            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Tell us what you think!</label>
                  </div>
                </div>
              </form>
            </div>
            <div class="akads-dark-blue-text center-align">
              <button class = "btn akads-blue waves-effect waves-light" type="submit">End Session</button>
            </div>
          </div>
          <div class="col s5 map">
            <div id="mapsession{{ session.session.id }}" location="{{session.session.location}}"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

