{% extends "../base.html"%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <div class="container user" id='map-check' stat='tutor'>
    <h4 class="akads-dark-blue-text">Upcoming</h4>
    <strong class="akads-mid-blue-text">Below are the details of your upcoming sessions.</strong>
    
    {% load static %}
    {% if session_group %}
    {% for individual_session in session_group %}
      <div class="card-panel upcoming">
        <div class="row">
          <div class="col s7">
            <ul class="left-align">
              <li>
                <div class="valign-wrapper">
                {% if individual_session.tutor.picture %}
                  <img src="{% get_media_prefix %}{{ individual_session.tutor.picture }}" class="responsive-img circle" style="height:100px; width: 100px; object-fit: cover; margin-left:15px; padding: 10px;" />
                {% else %}
                  <i class="medium material-icons akads-mid-blue-text">account_circle</i>
                {% endif %}
                <h5 class="akads-dark-blue-text"><strong>Tutor:</strong> {{individual_session.tutor.first_name}} {{individual_session.tutor.last_name}}</h5>
                </div>
              </li>
              <li class="akads-dark-blue-text"><strong>Date:</strong> {{individual_session.session.session_date}}</li>
              <li class="akads-dark-blue-text"><strong>Time:</strong> {{individual_session.session.time_start}} - {{individual_session.session.time_end}}</li>
              <li class="akads-dark-blue-text"><strong>Subject:</strong> Grade {{individual_session.session.grade}} {{individual_session.session.subject}}</li>
              <li class="akads-dark-blue-text"><strong>Location:</strong> {{individual_session.session.location}}</li>
              <li class="akads-dark-blue-text"><strong>Resume:</strong>
                {% if individual_session.tutor.tutor.resume %}
                  <a href="{{ individual_session.tutor.tutor.resume.url }}" target="_blank">{{ individual_session.tutor.tutor.resume }}</a>
                {% else %}
                  None
                {% endif %}</a>
              </li>
            </ul>
            <p class="akads-mid-blue-text left-align">Please wait for your tutor to complete the session!</p>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p class="akads-mid-blue-text">You have no upcoming sessions.</p>
    {% endif %}
  </div>
{% endblock content %}
