{% extends "../base.html"%}

{% block body %}
<body>
{% endblock %}
{%block content%}
{% load static %}


<form method = "POST">
    {% csrf_token %}
    {% for choice in form.session_mutual.field.choices %}
    <label for = "{{ form.session_mutual.field.label }}_{{ forloop.counter0 }}">
      <input id = "{{ form.session_mutual.field.label }}_{{ forloop.counter0 }}" type = "checkbox" value = "{{ choice.1 }}" name = "{{ form.session_mutual.name }}">
      <span>
      {{ choice.0 }}
      </span>
    </label><br/>
    {% endfor %}
<button class =  "btn akads-blue waves-effect waves-light" type="submit">Confirm Session</button>
</form>



{% endblock content %}