{% extends "../base.html"%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <div class = 'container register'>
    <form method = "POST">
      {% csrf_token %}
        {% load static %}
        <div class="tab">
          <div>
            <img src="{% static 'users/img/tutor1.png' %}">
          </div>
          <div class="wrapper">
            <h4 class="akads-blue-text">Create an Account</h4>
            <div class="form-group input-field">
              <input id="username" type="text" name="username" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="form-group input-field">
              <input id="firstname" type="text" name="firstname" class="validate">
              <label for="firstname">First Name</label>
            </div>
            <div class="form-group input-field">
              <input id="lastname" type="text" name="lastname" class="validate">
              <label for="lastname">Last Name</label>
            </div>
            <div class="form-group input-field">
              <input id="password1" type="password" name="password1" class="validate">
              <label for="password1">Password</label>
            </div>
            <div class="form-group input-field">
              <input id="password2" type="password" name="password2" class="validate">
              <label for="password2">Re-enter Password</label>
            </div>
            <div class="form-group input-field">
              <input id="email" type="text" name="email" class="validate">
              <label for="email">Email</label>
            </div>
            <!-- <div class="form-group input-field file-field">
              <div class="btn-small akads-light-blue akads-blue-text">
                <span>Display Picture</span>
                <input id="picture" type="file" name="picture" class="validate" alt="Display Picture" accept="image/png, image/jpeg">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload a clear picture of yourself">
              </div>
            </div> -->
          </div>
        </div>
        <div class="tab">
          <div>
            <img src="{% static 'users/img/tutor2.png' %}">
          </div>
          <div class="wrapper">
            <h4 class="akads-blue-text">Location</h4>
            <div class="form-group input-field">
              <select multiple id="location-select" type="text">
                <option value="Manila">Manila</option>
                <option value="Quezon City">Quezon City</option>
                <option value="Caloocan">Caloocan</option>
                <option value="Las Piñas">Las Piñas</option>
                <option value="Makati">Makati</option>
                <option value="Malabon">Malabon</option>
                <option value="Mandaluyong">Mandaluyong</option>
                <option value="Marikina">Marikina</option>
                <option value="Muntinlupa">Muntinlupa</option>
                <option value="Navotas">Navotas</option>
                <option value="Parañaque">Parañaque</option>
                <option value="Pasay">Pasay</option>
                <option value="Pasig">Pasig</option>
                <option value="San Juan">San Juan</option>
                <option value="Taguig">Taguig</option>
                <option value="Valenzuela">Valenzuela</option>
              </select>
              <label>Choose Locations where you can tutor:</label>
            </div>
            <input id="hidden-loc" class="hidden" type="text" name="location">
          </div>
        </div>
        <div class="tab">
          <div>
            <img src="{% static 'users/img/tutor3.png' %}">
          </div>
          <div class="wrapper">
            <h4 class="akads-blue-text">About Me</h4>
            <!-- <div class="form-group input-field">
              <input id="birthday" type="text" name="birthday" class="datepicker">
              <label for="birthday">Date of Birth</label>
            </div> -->
            <div>
              <label>Birthday</label>
              <div id="birthday" type="text" class="datepicker-here" data-language='en'></div>
              <input id="hidden-birthday" class="hidden" type="text" name="birthday">
            </div>
            <div class="form-group sex">
              <label class="sex-label">Sex:</label>
              <label for="male">
                <input id="male" value="male" name="sex" type="radio">
                <span>Male</span>
              </label>
              &nbsp;&ensp;
              <span>
                <label for="female">
                    <input id="female" value="female" name="sex" type="radio">
                    <span>Female</span>
                </label>
              </span>
            </div>
            <div class="form-group input-field">
              <select multiple id="subject-select" type="text">
                <option value="Mathematics">Mathematics</option>
                <option value="Filipino">Filipino</option>
                <option value="Science">Science</option>
                <option value="Araling Panlipunan / Social Studies">Araling Panlipunan / Social Studies</option>
                <option value="English">English</option>
                <option value="Chinese">Chinese</option>
                <option value="Religion">Religion</option>
              </select>
              <label>Preferred Subjects to teach:</label>
            </div>
            <input id="hidden-subj" class="hidden" type="text" name="subjects">
            <div class="form-group input-field bio">
              <textarea id="bio" name="bio" class="materialize-textarea validate"></textarea>
              <label for="bio">Bio</label>
            </div>
          </div>
        </div>
        <div class="tab">
          <div>
            <img src="{% static 'users/img/tutor4.png' %}">
          </div>
          <div class="wrapper">
            <h4 class="akads-blue-text">Requirements</h4>
            <h5 class="akads-dark-blue-text">You're almost done!</h5>
              Please upload a clear picture or scanned document of the following:
            <ul class="requirements">
              <li class="akads-dark-blue-text">1. School ID or Government ID</li>
              <li class="akads-dark-blue-text">2. Transcript of Records from High School</li>
              <li class="akads-dark-blue-text">3. Resume/CV</li>
              <li class="akads-dark-blue-text">4. Medical Certificate (Fit to work)</li>
              <li class="akads-dark-blue-text">
                5. Official School Registration Form (must reflect current academic year) or reason for unenrollment :
              </li>
              <div class="form-group input-field reason">
                <input id="reason" type="text" name="reason">
                <label for="reason">Reason</label>
              </div>
            </ul>
            <div class="form-group input-field file-field">
              <div class="btn-small akads-light-blue akads-blue-text">
                <span>Upload</span>
                <input type="file" name="uploadfiles">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload a clear picture or scanned document">
              </div>
            </div>
          </div>
        </div>
        <div style="overflow:auto;">
          <div class="register-button-grp">
            <button type="button" class="waves-effect waves-light btn akads-light-blue akads-blue-text" id="previous" onclick="nextPrev(-1)">Back</button>
            <button type="button" class="waves-effect waves-light btn akads-blue" id="next" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
    </form>
  </div>

  <script>
    var current = 0;
    showTab(current);

    function showTab(tabValue) {
      var tabNum = document.getElementsByClassName("tab");
      tabNum[tabValue].style.display = "block";

      if(tabValue == 0){
        document.getElementById("previous").style.display = "none";
      } else {
        document.getElementById("previous").style.display = "inline-block";
      }

      if(tabValue == (tabNum.length - 1)){
        document.getElementById("next").innerHTML = "Submit";
      } else{
        document.getElementById("next").innerHTML = "Next";
      }
    }

    function nextPrev(buttonValue) {
      var tabNum = document.getElementsByClassName("tab");
      if((buttonValue == 1) && (!validateForm())){
        return false;
      }

      tabNum[current].style.display = "none";

      current = current + buttonValue;

      if(current >= (tabNum.length)){
        document.getElementById("next").type = "Submit";
      }

      showTab(current);
    }

    function validateForm() {
      var tabNum = document.getElementsByClassName("tab");
      var inputValid = tabNum[current].getElementsByTagName("input");
      var count, isValid = true;

      for(count = 0; count < inputValid.length; count++){
        if(inputValid[count].value == "" ){ //can add other conditions here
          inputValid[count] += "invalid";

          isValid = false;
        }
      }

      return isValid; // return the valid status
    }
  </script>
{% endblock content %}
