{% extends "../base.html"%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <div class="container user" id='map-check' stat='tutor'>
    <h4 class="akads-dark-blue-text">Upcoming</h4>
    <strong class="akads-mid-blue-text">Below are the details of your upcoming sessions.</strong>
      
    {% if session_group %}
    {% for individual_session in session_group %}
      <div class="card-panel upcoming">
        <div class="row">
          <div class="col s7">
            <ul class="left-align">
              <li>
                <div class="valign-wrapper">
                <i class="medium material-icons akads-mid-blue-text">account_circle</i>
                <h5 class="akads-dark-blue-text"><strong>Tutee:</strong> {{individual_session.tutee.first_name}} {{individual_session.tutee.last_name}}</h5>
                </div>
              </li>
              <li class="akads-dark-blue-text"><strong>Date:</strong> {{individual_session.session.session_date}}</li>
              <li class="akads-dark-blue-text"><strong>Time:</strong> {{individual_session.session.time_start}} - {{individual_session.session.time_end}}</li>
              <li class="akads-dark-blue-text"><strong>Subject:</strong> Grade {{individual_session.session.grade}} {{individual_session.session.subject}}</li>
              <li class="akads-dark-blue-text"><strong>Location:</strong> {{individual_session.session.location}}</li>
              <li class="akads-dark-blue-text"><strong>Contact Number: </strong>{{cellnum}}</li>
              <br>
              <li class="akads-dark-blue-text"><a class="btn akads-blue waves-effect waves-light" href="{% url 'complete_session' individual_session.session.id %}">Complete Session</a></li>
            </ul>
          </div>
          <!-- MAP COMMENTED OUT -->
          <!-- <div class="col s5 map">
            <div id="map{{ forloop.counter }}" location="{{individual_session.session.location}}"></div>
          </div> -->
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p class="akads-mid-blue-text">You have no upcoming sessions.</p>
    {% endif %}
  </div>
{% endblock content %}
