{% extends "./base.html"%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <h4 class="akads-dark-blue-text">Redeem Credits</h4>
  <div class="container">
    <div class="row">
      
      <div class="col s6">
        <div class="card-panel credits-left">
          <div>
            <h5 class="akads-dark-blue-text">Current Balance</h5>
            <h5>{{credit_user.credits}} Credits = P {% widthratio credit_user.credits 1 800 %}</h5>
          </div>
          <div>
            <h6>Accumulated balance for May: {{credit_user.credits}}</h6>
            <h6>Credits needed for incentive: 0 Credits</h6>
          </div>
          <button type="button" id="btn-redeem-credits" class="waves-effect waves-light btn akads-dark-blue" id="redeem">Redeem</button>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel credits-right">
          <h5 class="akads-dark-blue-text">Transaction History</h5>
          {% if transaction_group %}
            {% for individual_transaction in transaction_group %}
              {% if individual_transaction.tutor != null %}
              <div class='content-section'>
                <div class="akads-blue-text">Finished session with {{individual_transaction.user.first_name}}</div>
                <div>{{individual_transaction.date}}</div>
              </div>
            {% else %}
              <div class='content-section'>
                <div>Redeemed all credits</div>
                <div>{{individual_transaction.date}}</div>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
