{% extends "./base.html"%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <h4 class="akads-dark-blue-text">Buy Credits</h4>
  <div class="container">
    <div class="row">

      <div class="col s6">
        <div class="card-panel credits-left">
          <form method="POST">
            {% csrf_token %}
            <div class="content-section">
              <div><h5 class="akads-dark-blue-text">Current Balance: {{current_user.credits}} Credits</h5></div>
                <div class="form-group sex">
                  <label for="credits1">
                    <input id="credits1" value="1" name="credits" type="radio">
                    <span>1 credits for P800</span>
                  </label><br>
                  <span>
                    <label for="credits2">
                        <input id="credits2" value="5" name="credits" type="radio">
                        <span>5 credits for P3,500</span>
                    </label><br>
                  </span>
                  <span>
                    <label for="credits3">
                        <input id="credits3" value="13" name="credits" type="radio">
                        <span>13 credits for P10,000 (+2 credits free)</span>
                    </label><br>
                  </span>
                </div>
                <button class="btn-large akads-blue waves-effect waves-light" type="submit" name="button" href="credits/">BUY</button>
              </div>
          </form>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel credits-right scroll">
          <h5 class="akads-dark-blue-text">Transaction History</h5>
          {% if transaction_group %}
          {% for individual_transaction in transaction_group %}
            {% if individual_transaction.tutor != null %}
            <div class='content-section'>
                <div><strong>Finished session with {{individual_transaction.tutor.first_name}}</strong></div>
                <div>{{individual_transaction.date}}</div>
            </div>
            {% else %}
              <div class='content-section'>
                  <div><strong>Paid for {{individual_transaction.credits}} credits</strong></div>
                  <div>{{individual_transaction.date}}</div>
              </div>
            {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
{% endblock content %}
